.comment-box {
    width: 100%;
    text-align:left;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.comment-content {
    flex-direction: column;
    padding-left: 10em;
}
