.addButton {
  background-color: #007ad7 !important;
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}

.addIcon {
  color: #ffffff;
  font-size: 4rem;
}

.commentContainer {
  padding: 0 !important;
}

.subcommentContainer {
  display: grid !important;
  grid-gap: 10px;
  grid-template-rows: auto;
}

.comment .Mui-expanded{
  margin: 0;
}

.comments {
  padding-top: 10px;
  display: grid !important;
  grid-gap: 10px;
  grid-template-rows: auto;
}