.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  position: fixed;
  margin-top: 80px;
  left: calc(50% - 300px);
  background-color: white;
  padding: 15px 15px 15px 15px;
  font-family: 'Roboto', sans-serif;
}

.heading {
  margin-bottom: 15px !important;
}

.errorMessage {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: red;
}

.bodyText {
  background-color: #e4e9ef;
  margin: 0 0 15px 0 !important;
  padding: 2px 10px 2px 10px !important;
}

.titleText {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e4e9ef;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  padding: 2px 10px 2px 10px !important;
}

.modalButtons {
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.cancelButton {
  background-color: #a4a9af !important;
  font-size: large;
  color: white !important;
  margin-right: 15px !important;
  height: 35px;
}

.submitButton {
  background-color: #107ccd !important;
  color: white !important;
  height: 35px;
}
