.root {
    margin-top: 2em;
}

.post-box {
    width: 100%;
    height: 15em;
    text-align:left;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
  }

.post-content {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
}
  
.post-leftbar {
    width: 5em;
    position: absolute;
    height: 100%;
    background-color: #e4e9ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-icon {
    padding-top: 33%;
    color: #5d5d5d;
}  