.root {
    margin-top: 2em;
}

.post-box {
    width: 100%;
    height: 15em;
    text-align:left;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
  }

.post-content {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
}
  
.post-leftbar {
    width: 5em;
    position: absolute;
    height: 15em;
    background-color: #e4e9ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clicked {
    color: rgb(201, 130, 0);

}

.post-button {
    margin: 2em;
}

.post-icon {
    color: #5d5d5d;
    width: 35px;
}  

.buttonGroup {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}